<div class="form">
    <div class="opacity">
        <div class="body">
            <h1 class="heading">User Form</h1>
            <form #formGroup="ngForm" class="form-body">
                <mat-form-field>
                    <mat-label>Name</mat-label>    
                    <input type="text" matInput [(ngModel)]="name" name="name" id="name" required>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select name="gender" id="gender" required 
                    [(ngModel)]="gender">
                        <mat-option value="male" selected>Male</mat-option>
                        <mat-option value="female" >Female</mat-option>
                    </mat-select>
                  </mat-form-field>
            
            
                <mat-form-field>
                    <mat-label>Mobile</mat-label>    
                    <input type="number" matInput [(ngModel)]="mobile" name="mobile" id="mobile" required 
                    [(ngModel)]="mobile">
                </mat-form-field>
                &nbsp;
            
                <mat-form-field>
                    <mat-label>E-Mail</mat-label>    
                    <input type="email" matInput name="mail" id="mail" required 
                    [(ngModel)]="mail">
                </mat-form-field>
            
            
                <mat-form-field>
                    <mat-label>Subscription Type</mat-label>
                    <mat-select name="subtype" id="subtype" required 
                    [(ngModel)]="subtype">
                        <mat-option value="yearly" selected>Yearly</mat-option>
                        <mat-option value="monthly" >Monthly</mat-option>
                    </mat-select>
                  </mat-form-field>
                  &nbsp;
            
    
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select name="status" id="status" required 
                    [(ngModel)]="status">
                        <mat-option value="active" selected>Active</mat-option>
                        <mat-option value="inactive" >In-Active</mat-option>
                    </mat-select>
                  </mat-form-field>
    
    
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput #input name="password" id="password" maxlength="10" placeholder="Create Password" 
                    [(ngModel)]="password" 
                    required>
                </mat-form-field>
                &nbsp;
    
                <mat-form-field>
                    <mat-label>Re-Enter Password</mat-label> 
                    <input matInput #input maxlength="10" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
                </mat-form-field>
                <br>
    
                <div class="action">
                    <button mat-raised-button color="primary" (click)="SaveBtnClicked()">Save Changes</button>
                    <button mat-raised-button color="warn" (click)="cancelButtonClicked()">Cancel</button>
                    <ng-content></ng-content>
                  </div>
            </form>
                  
        </div>
    </div>
</div>